<router-outlet></router-outlet>


<!-- <p id="p1">Hello Trainees</p>
<h1>Welcome</h1>

 <h1>{{id}}</h1>
 <h2>{{name}}</h2>
 <h2>{{city}}</h2>

 <img (mouseover)="ChangeImage()" width="300" height="300" src={{imageName}}>
  <img (mouseover)="ChangeImage()" width="300" height="300" [src]=imageName>

<br>
<input id="inp1" value={{name}}>
<br>
<input id="inp1" [value]=name>

<button (click)="ChangeImage()">Change Image</button>

<input (change)="toUpper($event)" [value] = val>




<div>
    <input (change)="ChangeVal($event)" [value] = val>

    <h1>{{val}}</h1>
</div>

<div>
    <input [(ngModel)] = id> 2
    <h2>{{id}}</h2>
    <input [(ngModel)] = val>
    <h1>{{val}}</h1>
</div>  -->

<!-- 
 <table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Courses</th>
            <th>Gender</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of Students" >
            <td>{{s.firstName}}</td>
            <td>{{s.lastName | lowercase}}</td>
            <td>{{s.courses}}</td>
            <td [ngClass]="{'male': s.gender == 'male' , 'female': s.gender == 'female'}">{{s.gender| uppercase}}</td>
           <td [ngClass]= "{'failStudent' : !s.isPassed}" *ngIf="s.isPassed">Pass</td>
           <td [ngClass]= "{'failStudent' : !s.isPassed}" *ngIf="!s.isPassed">Fail</td>
        </tr>
    </tbody>
</table>



<div class="ag-format-container">
  <div class="ag-courses_box">
    <div *ngFor="let s of Students" class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
         Name: {{s.firstName}} {{s.lastName}}
        </div>

        <div class="ag-courses-item_date-box">
          {{s.courses}}
        </div>
        <div class="ag-courses-item_date-box">
            {{s.gender}}
          </div>
      </a>
    </div>
  </div>
</div>


<div *ngIf="flag">
    Hello Trainees ❤❤
</div>


<div>
  <h3>Are you a student?</h3>
 
  <select [(ngModel)]= isStudent name="std" id="std">
    <option value="#"></option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>

  <div [ngSwitch]="isStudent">
    <p *ngSwitchCase="'Yes'">You are a student</p>
    <p *ngSwitchCase="'No'">You are graduated</p>
    <p *ngSwitchDefault>Please select from the list</p>
        </div>


</div>
<div *ngIf = "isStudent == 'Yes'">
 
  <input type="date">
  <input type="date">
</div>
 

<p class="fontSize" id="par1">Hello Trainees</p>
<p ngClass="par2">Hello Trainees</p>
<p>Hello Trainees</p>
<p>Hello Trainees</p>
<p class="par2">Hello Trainees</p> -->